body {
	overflow: hidden;
}

.tuv {
	background-image: linear-gradient(to right, red , black);
	font-family: 'Teko', sans-serif;
	font-size: 28px;
}

nav .navbar-brand {
	font-size: 28px;
}

.heading {
	font-family: 'Teko', sans-serif;
	font-size: 65px;
}

table {
	font-family: 'Teko', sans-serif;
	font-size: 20px;
}

#nav a {
	color: white;
	text-shadow: 1px 2px black;
	position: relative;
}

#nav p {
	color: white;
	text-shadow: 1px 2px black;
	margin-top: 19px;
}

.jumbotron {
	margin-top: -120px;
	background-image: url("../gambar/gambar1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 900px;
}

.jumbotron .container {
	margin-top: 210px;
	color: white;
	text-shadow: 1px 2px black;
	position: absolute;
	left: 400px;
}

#nav a:hover {
	background-color: black;
	border-radius: 25px;
}

.lead {
	position: absolute;
	top: 310px;
	left: 487px;
}

#wrapper {
	margin-top: -130px;
	margin-left: 180px;
}